html{
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

body{
    font-size: 16px;
    line-height: 1.5;
    font-family: serif;
    overflow-x: hidden;
    background-color: #F2F2F2;
    font-family: 'Public Sans', sans-serif;
    
}

.btn{
    &__button{
        // border: 1px solid #33323D;
        box-sizing: border-box;
        padding: 10px 25px;
        font-size: 15px;
    }
}